<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h2>About us:</h2>
    <p>Hello this is Saidattu, I am created this web site to showcase my skills in web development.<br>
    Used Technologies: HTML, CSS, JavaScript, express, node.js, ejs<br> 
    thank you.</p>
</body>
</html>