<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link href="./books.css" rel="stylesheet">
</head>
<body>
    <h1>Top 3 Books this Month:</h1>
    <div class="books">
    <a href="https://amzn.in/d/aMNGDjD" rel="Book"><img class="book" src="https://m.media-amazon.com/images/I/81BE7eeKzAL._SY425_.jpg" alt="Rich Dad Poor Dad"><br><b>Rich Dad Poor Dad</b></a>
    <a href="https://amzn.in/d/0ifjJ1X" rel="Book"><img class="book" src="https://m.media-amazon.com/images/I/91R5TW7tdzL._SY425_.jpg" alt="wish i could tell you"><br><b>wish could tell you</b></a>
    <a href="https://amzn.in/d/fhHGume" rel="Book"><img class="book" src="https://m.media-amazon.com/images/I/9155envqJTL._SY425_.jpg" alt="wish i could tell you"><br><b>Victory city</b></a>
</div>
</body>
</html>